/config/*
!/config/long_term_config.json
!/config/short_term_config.json
/result/
/data/
/pytest/data/
/train_para/
/config/run/specific_config/
test.py
graph.graph
partition.txt
*.pyc
*.log
/pytest/figure/
